body, html {
  height: 100%;
  font-family: 'Helvetica', sans-serif
}

ul {
  list-style-type: none;
}

li.preview {
  margin: 10px 0;
}

h1 {
  font-family: 'Helvetica', sans-serif
  vertical-align: bottom;
  font-size: 1.4em;
}

h2 {
  font-family: 'Helvetica', sans-serif
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #699d9e;
}

@media only screen and (min-width: 950px) {
  .hide_medium {
  display: none;
  }
}

.white {
  color:white;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.large {
  font-size: 25px;
  line-height: 40px;
}

.zero-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.zero-padding {
  padding: 0px;
}

.full-width {
  width: 100%;
}

.medium {
  font-size: 15px;
  line-height: 30px;
}

/* Hamburger */
div.menubutton {
      height: 56px;
      width: 56px;
      right: 10;
      float: right; }
      div.menubutton * {
        box-sizing: border-box; }
      div.menubutton .nav-toggle-button {
        width: 36px;
        height: 56px;
        position: relative;
        cursor: pointer;
        }
       div.menubutton span {
        background-color: #000000;
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        left: 0;
        }
        div.menubutton .span1 {
        top: 15px;
        }
       div.menubutton .span2 {
        top: 30px;
        }
       div.menubutton .span3 {
        top: 45px;
        }

.rotate {
  -webkit-transform:
    rotate(-45deg);
}

.rotate2 {
  -webkit-transform:
    rotate(45deg);
}

.bar{
  height: 5px;
  width: 100%;
  background-color: #bbb;
  float: left;
  margin: 14px 0px;
  padding: 0px;
}

.footer {
  background-color: #bbb;
  padding: 0;
  margin: 0;
}

/* Mobile Menu */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width:100% ;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #699d93;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 70px;
}

.closeBar {
  background-color: red;
}

#mobile_menu {
  cursor: pointer;
}

.hover:hover {
box-shadow: 5px 5px 8px #ebebeb;
}


/* Slideshow Previews */
.hide_slides {
  display: none;
}

.show_slides {
  color: black;
  background-color: white;
  font-size: 25px;
  margin-top: -100x;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

#preview {
  cursor: pointer;
}

/* Actual Slideshow */
/*
essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.gallery {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/* Text over image */

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  opacity: 1;
  box-shadow: 5px 5px 8px #ebebeb;
  text-shadow: 5px 5px 5px black;
}

.container:hover {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.5;
  box-shadow: none;
}

.over-text {
  position: absolute;
  font-size: 30px;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}


/* HIDE / SHOW RESPONSIVE */

@media only screen {
  .show_small {
    display:inline-block;
  }
  .show_medium {
    display: none;
  }
  .show_large {
    display: none;
  }
}

@media only screen and (min-width: 950px) {
  .show_small {
    display:none;
  }
  .show_medium {
    display: inline-block;
  }
  .show_large {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .show_large {
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {}

.parallax {
  /* The image used */
  background-image: url("Roofing_2.jpg");

  /* Transparent Overlay */
  background-color: black;
  opacity: 1;

  /* Full height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


* {
  box-sizing: border-box;
}

.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: white;
  font-size: 25px;
  letter-spacing: 0px;
  text-shadow: 8px 8px 8px black;
  font-family: 'Helvetica', sans-serif
}

.form_box {
  border: 1px solid #ccc;
  padding: 15px;
}

/* TESTIMONIAL SLIDESHOW */

#slideshow {
  overflow: hidden;
  height: 518px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image: url("Roofing_2.jpg");
}

.slide:nth-child(2) {
  background-image: url("carpentry.jpg");
}

.slide:nth-child(3) {
  background-image: url("roof.jpg");
}

.slide:nth-child(4) {
  background-image: url("chimney.jpg");
}

.slide-number {
  color: white;
  text-align: left;
  font-size: 1em;
  margin-top: 200px;
  margin-left: 50px;
  text-shadow: 5px 5px 5px black;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

/* WORK SLIDESHOW */
/* Slideshow */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:white;
}

@media only screen {
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

@media only screen and (min-width: 950px) {
/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  opacity: 0.8;
  margin: auto;
  padding: 0;
  width: 45%;
  max-width: 1200px;
}
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  height: 65%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* GRID SYSTEM  */

/* Column */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen {
  .col-small-1 {width: 8.33%;}
  .col-small-2 {width: 16.66%;}
  .col-small-3 {width: 25%;}
  .col-small-4 {width: 33.33%;}
  .col-small-5 {width: 41.66%;}
  .col-small-6 {width: 50%;}
  .col-small-7 {width: 58.33%;}
  .col-small-8 {width: 66.66%;}
  .col-small-9 {width: 75%;}
  .col-small-10 {width: 83.33%;}
  .col-small-11 {width: 91.66%;}
  .col-small-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 950px) {
  .col-medium-1 {width: 8.33%;}
  .col-medium-2 {width: 16.66%;}
  .col-medium-3 {width: 25%;}
  .col-medium-4 {width: 33.33%;}
  .col-medium-5 {width: 41.66%;}
  .col-medium-6 {width: 50%;}
  .col-medium-7 {width: 58.33%;}
  .col-medium-8 {width: 66.66%;}
  .col-medium-9 {width: 75%;}
  .col-medium-10 {width: 83.33%;}
  .col-medium-11 {width: 91.66%;}
  .col-medium-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-large-1 {width: 8.33%;}
  .col-large-2 {width: 16.66%;}
  .col-large-3 {width: 25%;}
  .col-large-4 {width: 33.33%;}
  .col-large-5 {width: 41.66%;}
  .col-large-6 {width: 50%;}
  .col-large-7 {width: 58.33%;}
  .col-large-8 {width: 66.66%;}
  .col-large-9 {width: 75%;}
  .col-large-10 {width: 83.33%;}
  .col-large-11 {width: 91.66%;}
  .col-large-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xlarge-1 {width: 8.33%;}
  .col-xlarge-2 {width: 16.66%;}
  .col-xlarge-3 {width: 25%;}
  .col-xlarge-4 {width: 33.33%;}
  .col-xlarge-5 {width: 41.66%;}
  .col-xlarge-6 {width: 50%;}
  .col-xlarge-7 {width: 58.33%;}
  .col-xlarge-8 {width: 66.66%;}
  .col-xlarge-9 {width: 75%;}
  .col-xlarge-10 {width: 83.33%;}
  .col-xlarge-11 {width: 91.66%;}
  .col-xlarge-12 {width: 100%;}
}
