body, html {
  height: 100%;
  font-family: 'Barlow', sans-serif;

}

ul {
  list-style-type: none;
}

li.preview {
  margin: 10px 0;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  vertical-align: bottom;
}

h2 {
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen {
  p {font-size: 3em;}
  h2 {font-size: 3em;}

}
@media only screen and (min-width: 768px) {
  p {font-size: 3em;}
  h2 {font-size: 3em;}

}

.nav {
  height: 115px;
}

.bio {
  text-align: center;
}

.zero-margin {
  margin-top: 0px;
}

/* Line for logo */
.background {
  padding: 0;
  margin: 0
  z-index: 999;
}

.circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #62cefc;
}

.line1 {
  width: 112px;
  height: 47px;
  border-bottom: 5px solid #8dfa7d;
    -webkit-transform:
      rotate(-45deg);
      position: absolute;
    z-index: 999;
}
.unrotate {
  -webkit-transform:
    rotate(45deg);
    position: absolute;
}

/* Hamburger */
div.menubutton {
      height: 56px;
      width: 56px;
      right: 10;
      float: right; }
      div.menubutton * {
        box-sizing: border-box; }
      div.menubutton .nav-toggle-button {
        width: 36px;
        height: 56px;
        position: relative;
        cursor: pointer;
        }
       div.menubutton span {
        background-color: #000000;
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        left: 0;
        }
        div.menubutton .span1 {
        top: 15px;
        }
       div.menubutton .span2 {
        top: 30px;
        }
       div.menubutton .span3 {
        top: 45px;
        }

/* MObile Menu*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width:100% ;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background: rgb(250,213,125);
  background: linear-gradient(17deg, rgba(141, 250, 125,0.9) 0%, rgba(98, 206, 252,1) 100%);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 70px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* divider bar */
.bar{
  height: 2px;
  width: 100%;
  background-color: #bbb;
  float: left;
  margin: 14px 0px;
  padding: 0px;
}

.shadow {
  box-shadow: 0px 20px 10px #ebebeb;
}

.shadow_top {
  box-shadow: 20px 0px 10px #ebebeb;
}

/* Text over image for little previews */

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  opacity: 0.8;
  box-shadow: none;
  text-shadow: 5px 5px 5px black;
}

.container:hover {
  position: relative;
  text-align: center;
  color: white;
  opacity: 1;
  box-shadow: 5px 5px 5px 5px #ebebeb;
}

.over-text {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: -15px;
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}


/* HIDE / SHOW RESPONSIVE */

@media only screen {
  .show_small {
    display:inline-block;
  }
  .show_medium {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .show_small {
    display:none;
  }
  .show_medium {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}


.parallax {
  /* Background Image*/
  background-image: url("splash.jpeg");

  background-image:
    linear-gradient(to bottom, rgba(98, 206, 252, 1), rgba(141, 250, 125, 0.52)),
    url('splash.jpeg');

  /* Transparent Overlay
  background-color: #7dfaaf;
  opacity: 0.7;
  */

  /*Gradient*/
  /*Orange-Red
  background: rgb(250,213,125);
  background: linear-gradient(17deg, rgba(250,213,125,1) 0%, rgba(252,98,98,1) 100%);

  /*green-blue*/


  /* Full height */
  height: 600px;
  margin: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


* {
  box-sizing: border-box;
}

.caption {
  position: relative;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: white;
  font-size: 75px;
  letter-spacing: 0px;
  text-shadow: 0;
  font-family: 'Bebas Neue', sans-serif;
}

.caption .cta {
  color: white;
  font-size: 25px;
  background-color: rgba(98, 206, 252, 1);
  border-radius: 5px;
  margin-top: 0px;
  font-family: 'Barlow', sans-serif;
}

.cta {
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: rgba(98, 206, 252, 1);
  border-radius: 5px;
  font-family: 'Barlow', sans-serif;
}

.form_box {
  border: 1px solid #ccc;
  padding: 15px;
}

/* Footer */
.footer {
  background: linear-gradient(17deg, rgba(141, 250, 125,0.5) 0%, rgba(98, 206, 252,1) 100%);
  /*box-shadow: 20px 0px 10px #ebebeb;*/
}


/* GRID SYSTEM  */

/* Column */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen {
  .col-small-1 {width: 8.33%;}
  .col-small-2 {width: 16.66%;}
  .col-small-3 {width: 25%;}
  .col-small-4 {width: 33.33%;}
  .col-small-5 {width: 41.66%;}
  .col-small-6 {width: 50%;}
  .col-small-7 {width: 58.33%;}
  .col-small-8 {width: 66.66%;}
  .col-small-9 {width: 75%;}
  .col-small-10 {width: 83.33%;}
  .col-small-11 {width: 91.66%;}
  .col-small-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-medium-1 {width: 8.33%;}
  .col-medium-2 {width: 16.66%;}
  .col-medium-3 {width: 25%;}
  .col-medium-4 {width: 33.33%;}
  .col-medium-5 {width: 41.66%;}
  .col-medium-6 {width: 50%;}
  .col-medium-7 {width: 58.33%;}
  .col-medium-8 {width: 66.66%;}
  .col-medium-9 {width: 75%;}
  .col-medium-10 {width: 83.33%;}
  .col-medium-11 {width: 91.66%;}
  .col-medium-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-large-1 {width: 8.33%;}
  .col-large-2 {width: 16.66%;}
  .col-large-3 {width: 25%;}
  .col-large-4 {width: 33.33%;}
  .col-large-5 {width: 41.66%;}
  .col-large-6 {width: 50%;}
  .col-large-7 {width: 58.33%;}
  .col-large-8 {width: 66.66%;}
  .col-large-9 {width: 75%;}
  .col-large-10 {width: 83.33%;}
  .col-large-11 {width: 91.66%;}
  .col-large-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xlarge-1 {width: 8.33%;}
  .col-xlarge-2 {width: 16.66%;}
  .col-xlarge-3 {width: 25%;}
  .col-xlarge-4 {width: 33.33%;}
  .col-xlarge-5 {width: 41.66%;}
  .col-xlarge-6 {width: 50%;}
  .col-xlarge-7 {width: 58.33%;}
  .col-xlarge-8 {width: 66.66%;}
  .col-xlarge-9 {width: 75%;}
  .col-xlarge-10 {width: 83.33%;}
  .col-xlarge-11 {width: 91.66%;}
  .col-xlarge-12 {width: 100%;}
}
